node_modules/
.env
temp_gui_batch.txt
temp_download_batch.txt
.DS_Store
steamcmd/*
cli/packages/*
cli/temp_extract_folder/*
**/live2d_packages/*
**/spine_packages/*
public/thumbnails/fixed/*
public/thumbnails/bad_detected/*
**/__pycache__/*
db/catalog.sqlite
db/catalog.sqlite.bak
db/catalog.sqlite.user
db/testing.sqlite
steamcmd.zip